src/main/resources/com/esiee/java_avance_lot_1/xml/Biblio.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="bibliotheque">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="livre">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titre" type="xs:string"/>
                            <xs:element name="auteur">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nom" type="xs:string"/>
                                        <xs:element name="prenom" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="id" type="xs:unsignedInt"/>
                            <xs:element name="presentation" type="xs:string"/>
                            <xs:element name="parution" type="xs:unsignedShort"/>
                            <xs:element name="colonne" type="xs:unsignedByte"/>
                            <xs:element name="rangee" type="xs:unsignedByte"/>
                            <xs:element name="image" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="etat" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
